body {
    background-color: white;
    margin:0;
    color:black;
}
.hcenter {
    align-items: center;
    justify-content: center;
    background-color:white;
    color:black;
    display:flex;
    width: 100%;
}
h1 {
    font-size: 400px;
}
h2{
    font-size: 150px;
}
a {
    background-color: black;
    text-decoration: none;
    color:black;
    border-radius: 50px;
    padding: 50px 150px 50px 150px;
    font-size: 50px;
    text-align: center;
}
img {
    height: 50vh;
    width: 30vh;
    z-index: 2  ;
    border-radius: 100%;
    width: 2000px;
}
.history {
  font-size: 100px;
  width: 30%;

}
.center{
	text-align: center;
	margin-top: 1000px;
	width: 100vh;

}

.korobka{
display: flex;
height: 90vh;
margin:0;
width: 100%;
align-items: center;
justify-content: center;
}

.logo{
    border-radius:10px;
    width: 200px;
    height:200px;
    margin-left:100px;

}
.link{

    text-decoration: none;
    margin:0 0 0 50px;
    font-size:75px;
    background-color:black;
    color:white;
    transition: transform 0.3s ease;
}
.navbar{
    background-color: black ;
    display: flex;
    padding: 50px 0;
    margin:0px;
    position: fixed;
align-items: center;
width:100%;
z-index: 7;

}


.krug2{
    z-index: -1;
    position: absolute;
    top:1000px;
    width: 1750px;
    height: 1750px;
    left:4250px;
    border-radius:100%;
    background-color:#8A6EAD;
    border:10px;


}
.baba{
    margin-top: 1000px;
    color:black;

}
.sphere1{
    position:absolute;
    width:1000px;
    height: 700px

}
.contactme{
width: 100%;
}

.sphere2{
    position:absolute;
    width:1000px;
    height: 700px



}
.text3 {
    position: absolute;
color:black;
font-size: 60px;
left: 30%;
top: 16500px;
}
.text4 {
        position: absolute;
color:black;
font-size: 60px;
left: 30%;
top: 16900
}
.text5 {
        position: absolute;
color:black;
font-size: 60px;
left: 30%;
top: 17300
}
.link1{
      background-color:   #5A2F76;
      color: white;
      left: 40%;
      padding: 10px 500px 100px 30px;
      position: absolute;
      top: 16700;
}
.link2{
 background-color:   #5A2F76;
      color: white;
      left: 40%;
      padding: 10px 500px 100px 30px;
      position: absolute;
      top: 17100;

}
.link3
{
     background-color:   #5A2F76;
      color: white;
      left: 40%;
      padding: 10px 500px 300px 30px;
      position: absolute;
      top: 17500;
}

.myskills{
    color:black;
    height:50%;
}
.skills{
    font-size: 75px;
    z-index: 100;
    color:black;
}

.project1{
    z-index: 10;
    border-radius:100px;
    margin-left: 400px;
    height:50%;
    width:1000px;
    transition: transform 0.3s ease;
        background-color: black;

}
.yeei{
    font-size:50px;
}
.poloska{
    border-radius: 0;
    width: 150%;
    height: 100px;
    margin-left: -1000;
    margin-right: 0;
    margin-top: 500px; 
left:-500px;
}
.de{
    margin-left:650px;
}
.loremipsum{
width: 30%;
height:10%;
margin-top:100px;
margin-left: 100px
}
.de3{
    margin-left:800px;
}
.end{
    background-color: #F5F5F7;
    height: 30%;
    color:#C4C4C6;
    position: absolute;
    top: 18000;
    width: 100%;
}
.project2{
    z-index: 10;
        background-color: black;
    border-radius:100px;
    margin-left: 500px;
    height:50%;
    width:1000px;
    transition: transform 0.3s ease;
    margin-left: 1200px;
}
.project3{
    z-index: 10;
        background-color: black;
    border-radius:100px;
    margin-left: 500px;
    height:50%;
    width:1000px;
    transition: transform 0.3s ease;
      margin-left: 700px;

}
.sample{
    border-radius:100px;
    width: 900px;
    height:900px;
    margin-left:50px;
    margin-top: 50px;
}
.text1{
    color:white;
 font-size:45px;
 margin-left: 50px;
  margin-right: 50px;
}
.project1:hover {
    transform: scale(1.05);
}
.project2:hover {
    transform: scale(1.05);
}
.project3:hover {
    transform: scale(1.05);
}

.link:hover {
    transform: scale(1.1); 
}
.project1:not(:hover) {
    transform: scale(1);
}
.project2:not(:hover) {
    transform: scale(1);
}
.project3:not(:hover) {
    transform: scale(1);
}
.aboutme{
    height: 95%;
}
.narrator{
    margin-right: 300px;
  border-radius:100px;
  border:1000px pink;
}

.myprojects{
    height:100%;
    display:flex;
     align-items: center;
    justify-content: center;

}
.myprojects1{
    color:white;
    align-items: center;
    justify-content: center;
    font-size:100px;
}

.text{
    top:3000px;
position:absolute;
}

.hz{
 color:white;
    height:50%;
    display: flex;
}
